/* Home.module.css */
.head1 {
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logoContainer {
    flex: 0 0 auto;
  }
  
  .logo {
    height: 80px; /* Adjust height of the logo as needed */
    width: 100%; /* Maintain aspect ratio */
  }
  
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }
  
  .nav {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .nav:hover {
    background-color: #e0e0e0;
  }
  
  .nav.active {
    background-color: #d4d4d4;
  }
  
  body {
    padding-top: 60px;
  }
  
  .ShowGraph {
    margin-top: 150px;
    color: aqua;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 10px;
    }
  
    .nav {
      padding: 10px 20px;
      margin-bottom: 10px;
      width: 100%;
    }
  
    .head1 {
      padding: 10px;
    }
  }
  